In [2]:
import pandas as pd

In [3]:
df_train = pd.read_parquet('../data/train.parquet')

In [4]:
df_train.head(20)

,event_time,event_type,product_id,brand,price,user_id,user_session,target,cat_0,cat_1,cat_2,cat_3,timestamp,ts_hour,ts_minute,ts_weekday,ts_day,ts_month,ts_year
0,2019-11-01 00:00:14 UTC,cart,1005014,samsung,503.09,533326659,6b928be2-2bce-4640-8296-0efdf2fda22a,0,electronics,smartphone,NA,NA,2019-11-01 00:00:14+00:00,0,0,4,1,11,2019
1,2019-11-01 00:03:39 UTC,cart,1005115,apple,949.47,565865924,fd4bd6d4-bd14-4fdc-9aff-bd41a594f82e,0,electronics,smartphone,NA,NA,2019-11-01 00:03:39+00:00,0,3,4,1,11,2019
2,2019-11-01 00:05:54 UTC,cart,1002542,apple,486.80,549256216,dcbdc6e4-cd49-4ee8-95c5-e85f3c618fa1,0,electronics,smartphone,NA,NA,2019-11-01 00:05:54+00:00,0,5,4,1,11,2019
3,2019-11-01 00:07:22 UTC,cart,1002542,apple,486.80,549256216,dcbdc6e4-cd49-4ee8-95c5-e85f3c618fa1,0,electronics,smartphone,NA,NA,2019-11-01 00:07:22+00:00,0,7,4,1,11,2019
4,2019-11-01 00:10:45 UTC,cart,4804056,apple,160.57,522355747,0a1f37d1-71b7-4645-a8a7-ab91bc198a51,0,electronics,audio,headphone,NA,2019-11-01 00:10:45+00:00,0,10,4,1,11,2019
5,2019-11-01 00:13:40 UTC,cart,1004873,samsung,362.29,563558500,e0729b6c-eafe-4b0f-9d66-6ee777d08488,0,electronics,smartphone,NA,NA,2019-11-01 00:13:40+00:00,0,13,4,1,11,2019
6,2019-11-01 00:14:09 UTC,cart,1004856,samsung,128.42,513645631,8cccf28f-136d-4941-9005-755bec0a44c9,0,electronics,smartphone,NA,NA,2019-11-01 00:14:09+00:00,0,14,4,1,11,2019
7,2019-11-01 00:14:23 UTC,cart,1004856,samsung,128.42,557839915,40304779-5050-440d-8325-cab689f35584,0,electronics,smartphone,NA,NA,2019-11-01 00:14:23+00:00,0,14,4,1,11,2019
8,2019-11-01 00:15:23 UTC,cart,1005115,apple,949.47,561713177,821f797d-f9f4-4108-a44b-dbcba4e96251,0,electronics,smartphone,NA,NA,2019-11-01 00:15:23+00:00,0,15,4,1,11,2019
9,2019-11-01 00:15:46 UTC,cart,1005116,apple,1013.86,513852314,892943dc-aacd-44d8-94ef-b2bcbc0d6240,0,electronics,smartphone,NA,NA,2019-11-01 00:15:46+00:00,0,15,4,1,11,2019
10,2019-11-01 00:15:56 UTC,cart,1005116,apple,1013.86,513852314,892943dc-aacd-44d8-94ef-b2bcbc0d6240,0,electronics,smartphone,NA,NA,2019-11-01 00:15:56+00:00,0,15,4,1,11,2019
11,2019-11-01 00:20:25 UTC,cart,1004870,samsung,275.25,563626542,e6e2cb92-9103-4e6b-a68e-e2103766e04b,0,electronics,smartphone,NA,NA,2019-11-01 00:20:25+00:00,0,20,4,1,11,2019
12,2019-11-01 00:20:49 UTC,cart,1004870,samsung,275.25,563626542,e6e2cb92-9103-4e6b-a68e-e2103766e04b,0,electronics,smartphone,NA,NA,2019-11-01 00:20:49+00:00,0,20,4,1,11,2019
13,2019-11-01 00:24:48 UTC,cart,4804295,xiaomi,22.80,550508533,fff30096-d345-43a4-8b01-329283095f38,0,electronics,audio,headphone,NA,2019-11-01 00:24:48+00:00,0,24,4,1,11,2019
14,2019-11-01 00:25:12 UTC,cart,4804295,xiaomi,22.80,550508533,fff30096-d345-43a4-8b01-329283095f38,0,electronics,audio,headphone,NA,2019-11-01 00:25:12+00:00,0,25,4,1,11,2019
15,2019-11-01 00:30:05 UTC,cart,1002633,apple,358.31,557994805,b3bbf6e2-f995-4482-aceb-2a5695406d93,0,electronics,smartphone,NA,NA,2019-11-01 00:30:05+00:00,0,30,4,1,11,2019
16,2019-11-01 00:30:35 UTC,cart,1004856,samsung,128.42,512800858,ddb1ab7a-7667-4f79-a5dc-b5ed461e6ed5,0,electronics,smartphone,NA,NA,2019-11-01 00:30:35+00:00,0,30,4,1,11,2019
17,2019-11-01 00:31:35 UTC,cart,1801881,samsung,488.80,566283686,771370f8-6f8e-4584-81b9-9b5a8cd8e674,0,electronics,video,tv,NA,2019-11-01 00:31:35+00:00,0,31,4,1,11,2019
18,2019-11-01 00:33:37 UTC,cart,1201471,samsung,469.84,547694248,ad31f016-29a7-4d6a-9de3-d042016192e9,0,electronics,tablet,NA,NA,2019-11-01 00:33:37+00:00,0,33,4,1,11,2019
19,2019-11-01 00:35:55 UTC,cart,1004767,samsung,242.63,532542999,595c35b6-269b-433d-a7cf-47158757ac3a,0,electronics,smartphone,NA,NA,2019-11-01 00:35:55+00:00,0,35,4,1,11,2019

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11495242 entries, 0 to 11495241
Data columns (total 19 columns):
 #   Column        Dtype
---  ------        -----
 0   event_time    object
 1   event_type    object
 2   product_id    object
 3   brand         object
 4   price         object
 5   user_id       object
 6   user_session  object
 7   target        int64
 8   cat_0         object
 9   cat_1         object
 10  cat_2         object
 11  cat_3         object
 12  timestamp     datetime64[us, UTC]
 13  ts_hour       int16
 14  ts_minute     int16
 15  ts_weekday    int16
 16  ts_day        int16
 17  ts_month      int16
 18  ts_year       int16
dtypes: datetime64[us, UTC](1), int16(6), int64(1), object(11)
memory usage: 1.2+ GB

In [6]:
df_train.event_type.unique()

array(['cart', 'purchase'], dtype=object)

In [7]:
len(df_train.product_id.unique())

164453

In [8]:
df_train.cat_1.unique()

array(['smartphone', 'audio', 'video', 'tablet', 'NA', 'notebook',
       'clocks', 'skates', 'environment', 'sewing_machine', 'camera',
       'kitchen', 'tools', 'accessories', 'telephone', 'peripherals',
       'ebooks', 'toys', 'components', 'bedroom', 'swing', 'shoes',
       'ironing_board', 'bicycle', 'carriage', 'bag', 'cartrige',
       'desktop', 'bathroom', 'personal', 'dolls', 'iron', 'fmcg',
       'living_room', 'lawn_mower', 'costume', 'tennis', 'trainer',
       'underwear', 'shirt', 'dress', 'wallet', 'jumper', 'universal',
       'tshirt', 'snowboard', 'jeans', 'ski', 'cultivator', 'scarf',
       'glove', 'trousers', 'sock', 'belt', 'skirt', 'shorts', 'umbrella',
       'furniture', 'pajamas', 'jacket', 'diving'], dtype=object)

In [9]:
# seleccionamos el usuario 533326659
df_train[df_train["user_id"] == "565865924"]

,event_time,event_type,product_id,brand,price,user_id,user_session,target,cat_0,cat_1,cat_2,cat_3,timestamp,ts_hour,ts_minute,ts_weekday,ts_day,ts_month,ts_year
1,2019-11-01 00:03:39 UTC,cart,1005115,apple,949.47,565865924,fd4bd6d4-bd14-4fdc-9aff-bd41a594f82e,0,electronics,smartphone,NA,NA,2019-11-01 00:03:39+00:00,0,3,4,1,11,2019
2661,2019-11-01 08:07:32 UTC,cart,1004237,apple,1091.29,565865924,aa8209c8-4a12-4ce0-bd43-07b1fe51dd29,0,electronics,smartphone,NA,NA,2019-11-01 08:07:32+00:00,8,7,4,1,11,2019
31945,2019-11-02 16:40:22 UTC,purchase,1004249,apple,724.34,565865924,46e81cd0-9f9d-4e75-ac03-dd21bfb4d0eb,1,electronics,smartphone,NA,NA,2019-11-02 16:40:22+00:00,16,40,5,2,11,2019
31985,2019-11-02 16:49:02 UTC,purchase,1004238,apple,1208.01,565865924,46e81cd0-9f9d-4e75-ac03-dd21bfb4d0eb,1,electronics,smartphone,NA,NA,2019-11-02 16:49:02+00:00,16,49,5,2,11,2019
32019,2019-11-02 16:53:20 UTC,purchase,1004659,samsung,705.26,565865924,46e81cd0-9f9d-4e75-ac03-dd21bfb4d0eb,1,electronics,smartphone,NA,NA,2019-11-02 16:53:20+00:00,16,53,5,2,11,2019
51402,2019-11-03 15:26:03 UTC,purchase,1004237,apple,1078.12,565865924,f4b6ff8d-87a3-487c-a3eb-1e034e9f4600,1,electronics,smartphone,NA,NA,2019-11-03 15:26:03+00:00,15,26,6,3,11,2019

In [10]:
len(df_train[df_train["target"] == 1 ])

4190200

In [11]:
len(df_train[df_train["event_type"] == "purchase"])

4190200

In [12]:
# cantidad de frecuencia de productos comprados
df_train[df_train["event_type"] == "purchase"].groupby("product_id").count().sort_values(by="event_type", ascending=False)

,event_time,event_type,brand,price,user_id,user_session,target,cat_0,cat_1,cat_2,cat_3,timestamp,ts_hour,ts_minute,ts_weekday,ts_day,ts_month,ts_year
product_id,,,,,,,,,,,,,,,,,,
1004767,143312,143312,143312,143312,143312,143312,143312,143312,143312,143312,143312,143312,143312,143312,143312,143312,143312,143312
1005115,113584,113584,113584,113584,113584,113584,113584,113584,113584,113584,113584,113584,113584,113584,113584,113584,113584,113584
1004856,106532,106532,106532,106532,106532,106532,106532,106532,106532,106532,106532,106532,106532,106532,106532,106532,106532,106532
1005100,91403,91403,91403,91403,91403,91403,91403,91403,91403,91403,91403,91403,91403,91403,91403,91403,91403,91403
4804056,84859,84859,84859,84859,84859,84859,84859,84859,84859,84859,84859,84859,84859,84859,84859,84859,84859,84859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27200346,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2702652,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
100000002,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
100000018,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
100000023,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [13]:
df_train[df_train["product_id"]=="1005115"]

,event_time,event_type,product_id,brand,price,user_id,user_session,target,cat_0,cat_1,cat_2,cat_3,timestamp,ts_hour,ts_minute,ts_weekday,ts_day,ts_month,ts_year
1,2019-11-01 00:03:39 UTC,cart,1005115,apple,949.47,565865924,fd4bd6d4-bd14-4fdc-9aff-bd41a594f82e,0,electronics,smartphone,NA,NA,2019-11-01 00:03:39+00:00,0,3,4,1,11,2019
8,2019-11-01 00:15:23 UTC,cart,1005115,apple,949.47,561713177,821f797d-f9f4-4108-a44b-dbcba4e96251,0,electronics,smartphone,NA,NA,2019-11-01 00:15:23+00:00,0,15,4,1,11,2019
43,2019-11-01 01:03:43 UTC,cart,1005115,apple,949.47,557285166,c73a4e7c-bd1e-4a05-81b4-25ad9de63856,0,electronics,smartphone,NA,NA,2019-11-01 01:03:43+00:00,1,3,4,1,11,2019
44,2019-11-01 01:04:16 UTC,cart,1005115,apple,949.47,557285166,c73a4e7c-bd1e-4a05-81b4-25ad9de63856,0,electronics,smartphone,NA,NA,2019-11-01 01:04:16+00:00,1,4,4,1,11,2019
45,2019-11-01 01:06:22 UTC,cart,1005115,apple,949.47,533130276,6a2b14f6-dd1f-4166-a6e5-e91a32aba70b,0,electronics,smartphone,NA,NA,2019-11-01 01:06:22+00:00,1,6,4,1,11,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11495120,2020-01-31 23:17:40 UTC,purchase,1005115,apple,806.61,589053207,370d6017-15cf-4623-85cc-0fad018a8e0d,1,construction,tools,light,NA,2020-01-31 23:17:40+00:00,23,17,4,31,1,2020
11495161,2020-01-31 23:34:31 UTC,purchase,1005115,apple,806.61,592560315,8129ffcc-8816-408c-b973-991467b17811,1,construction,tools,light,NA,2020-01-31 23:34:31+00:00,23,34,4,31,1,2020
11495205,2020-01-31 23:46:36 UTC,purchase,1005115,apple,806.61,604621171,492307ac-de1c-4ad4-ba69-44d5c4b9776d,1,construction,tools,light,NA,2020-01-31 23:46:36+00:00,23,46,4,31,1,2020
11495213,2020-01-31 23:49:49 UTC,purchase,1005115,apple,806.61,562370565,e8a635c3-47a9-4f1b-82f1-798283f5ea43,1,construction,tools,light,NA,2020-01-31 23:49:49+00:00,23,49,4,31,1,2020
11495216,2020-01-31 23:50:26 UTC,purchase,1005115,apple,806.61,583541112,c6518a77-e02f-4056-b7be-037b13f27b10,1,construction,tools,light,NA,2020-01-31 23:50:26+00:00,23,50,4,31,1,2020

In [14]:
df_train[df_train["product_id"]=="1004856"]

,event_time,event_type,product_id,brand,price,user_id,user_session,target,cat_0,cat_1,cat_2,cat_3,timestamp,ts_hour,ts_minute,ts_weekday,ts_day,ts_month,ts_year
6,2019-11-01 00:14:09 UTC,cart,1004856,samsung,128.42,513645631,8cccf28f-136d-4941-9005-755bec0a44c9,0,electronics,smartphone,NA,NA,2019-11-01 00:14:09+00:00,0,14,4,1,11,2019
7,2019-11-01 00:14:23 UTC,cart,1004856,samsung,128.42,557839915,40304779-5050-440d-8325-cab689f35584,0,electronics,smartphone,NA,NA,2019-11-01 00:14:23+00:00,0,14,4,1,11,2019
16,2019-11-01 00:30:35 UTC,cart,1004856,samsung,128.42,512800858,ddb1ab7a-7667-4f79-a5dc-b5ed461e6ed5,0,electronics,smartphone,NA,NA,2019-11-01 00:30:35+00:00,0,30,4,1,11,2019
53,2019-11-01 01:39:08 UTC,cart,1004856,samsung,128.42,564133858,b207e869-0fab-4806-bdd3-91a4bac06844,0,electronics,smartphone,NA,NA,2019-11-01 01:39:08+00:00,1,39,4,1,11,2019
54,2019-11-01 01:39:10 UTC,cart,1004856,samsung,128.42,564133858,b207e869-0fab-4806-bdd3-91a4bac06844,0,electronics,smartphone,NA,NA,2019-11-01 01:39:10+00:00,1,39,4,1,11,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11494830,2020-01-31 22:10:03 UTC,purchase,1004856,samsung,129.99,556517013,1dfe4c09-0130-41b9-976d-82efcb5c9659,1,construction,tools,light,NA,2020-01-31 22:10:03+00:00,22,10,4,31,1,2020
11495025,2020-01-31 22:51:02 UTC,purchase,1004856,samsung,129.99,540977120,3abc7465-75b4-47ca-987e-d686120e7ffc,1,construction,tools,light,NA,2020-01-31 22:51:02+00:00,22,51,4,31,1,2020
11495043,2020-01-31 22:55:16 UTC,purchase,1004856,samsung,129.99,602577358,26d10276-4580-47b9-8bb0-7f67daeaf197,1,construction,tools,light,NA,2020-01-31 22:55:16+00:00,22,55,4,31,1,2020
11495200,2020-01-31 23:45:17 UTC,purchase,1004856,samsung,129.99,571761801,a5bd1cb7-a185-4e6a-ab40-2afe8b36df10,1,construction,tools,light,NA,2020-01-31 23:45:17+00:00,23,45,4,31,1,2020
11495202,2020-01-31 23:45:36 UTC,purchase,1004856,samsung,129.99,608819836,a3cdfcf5-0593-4802-a074-b5933d8ece38,1,construction,tools,light,NA,2020-01-31 23:45:36+00:00,23,45,4,31,1,2020

In [15]:
df_amz = pd.read_csv("../data/amz/Amazon-Sale-Report.csv")

In [18]:
# configurar ver todas las columnas
pd.set_option('display.max_columns', None)

In [19]:
df_amz.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by,New,PendingS
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship,NaN,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship,NaN,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,NaN,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship,NaN,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,NaN,NaN,NaN

In [17]:
df_amz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128976 entries, 0 to 128975
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128976 non-null  int64
 1   Order ID            128976 non-null  object
 2   Date                128976 non-null  object
 3   Status              128976 non-null  object
 4   Fulfilment          128976 non-null  object
 5   Sales Channel       128976 non-null  object
 6   ship-service-level  128976 non-null  object
 7   Category            128976 non-null  object
 8   Size                128976 non-null  object
 9   Courier Status      128976 non-null  object
 10  Qty                 128976 non-null  int64
 11  currency            121176 non-null  object
 12  Amount              121176 non-null  float64
 13  ship-city           128941 non-null  object
 14  ship-state          128941 non-null  object
 15  ship-postal-code    128941 non-null  float64
 16  ship-country        128941 non-null  object
 17  B2B                 128976 non-null  bool
 18  fulfilled-by        39263 non-null   object
 19  New                 0 non-null       float64
 20  PendingS            0 non-null       float64
dtypes: bool(1), float64(4), int64(2), object(14)
memory usage: 19.8+ MB